:root {
	--color_bk: white;
	--color_main: #00a884;
	--color_bk2: rgba(255, 255, 255, 0.9)
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: none;
	font-family: "Segoe UI";
	background-image: url('img/fundo.gif');
}
.container {
	width: 70%;
	height: 75%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}

.send, .history {
	width: 49.5%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	background-color: var(--color_bk);
}

.send {
	display: flex;
	border-radius: 10px 0 0 10px;
	justify-content: center;
}

.history {
	justify-content: flex-start;
	display: none;
	border-radius: 0 10px 10px 0;
	overflow: auto;
}
.history::-webkit-scrollbar { 
    display: none; 
}
.show_history {
	display: flex;
	margin-left: 1%;
}

.contato {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	border-bottom: 1px rgba(160, 158, 158, 0.886) solid;
	padding: 5px;
}

#nomeh, #numeroh {
	margin: 0;
	padding: 0;
}
.contato:hover {
	background-color: rgba(32, 102, 164, 0.362);
	border: 1px solid rgba(32, 103, 164, 0.696);
}
.dados {
	width: 94%;
}
.lixo {
	width: 5%;
	margin: 5px;
}
.lixo:hover {
	transform: scale(1.2);
}

.titulo {
	font-size: 35px;
	font-weight: 400px;
	line-height: 26px;
	color: #232323;
	style: normal;
}
.titulo2 {
	font-size: 30px;
}
.caixa {
	height: 45px;
	font-size: 30px;
	border-radius: 5px;
	border: 2px solid var(--color_main);
}
.phone {
	width: 81%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
#nome {
	width: 80%;
	margin: 10px 0;
}
#prefixo {
	width: 15%;
}
#ddd {
	width: 15%;
}
#numero {
	width: 60%;
}

.formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#botao {
	font-weight: bold;
	height: 50px;
	font-size: 13px;
	margin-top: 30px;
	background-color: var(--color_main);
	border: none;
	color: var(--color_bk);
	padding: 10px 20px;
	border-radius: 5px;
}
#botao:hover {
	background-color: white;
	color: var(--color_main);
	border: solid 2px var(--color_main);
}
.icone {
	width: 50px;
	height: 50px;
}
.radio {
	border-color: red;
	background-color: red;
	color: red;
}

.config {
	opacity: 0;
	display: none;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 90%;
}
.show_config {
	animation: menu .65s linear forwards;
	display: flex;
	margin-bottom: 10px;
}

@keyframes menu {
	0% {
		opacity: 0;
		transform: translateY(-75px);
		height: 0;
	}
	25% {
		opacity: 0;
	}
	99.9% {
		height: 75px;
		opacity: 1.0;
	}
	100% {
		height: auto;
		opacity: 1;
		transform: translateY(0);
		
	}
}

.src {
	height: auto;
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#busca {
	border: 2px solid var(--color_main);
	border-radius: 10px 0 0 10px;
	border-right: none !important;
	margin: 0;
	width: 85%;
	height: auto;
	font-size: 20px;
	padding: 5px;
}
.btn_busca {
	border-radius: 0 10px 10px 0;
	border: 2px solid var(--color_main);
	background-color: transparent;
	border-left: none;
	padding: 5px 15px;
	fill: var(--color_main);
	width: 15%;
	height: auto;
	margin: 0;
}
.btn_busca:hover {
	background-color: var(--color_main);
	fill: white;
}

.icon_busca {
	height: 25px;
}
.titulo_historico {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.titulo_historico p {
	margin-left: auto;
	margin-right: auto;
}
.icon_config {
	margin-right: 5px;
	height: 30px;
	transition: transform 1s;
}
.icon_config_click {
	transform: rotate(120deg);
}

.menu_config {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
}
.menu_config button {
	width: 30%;
	border-radius: 10px;
	text-align: center;
	padding: 1px;
}
.menu_config p {
	margin: 0;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.limpar {
	color: rgba(255, 0, 0, 0.804);
	border: 2px solid rgba(255, 0, 0, 0.804);
	background-color: transparent;
	fill: rgba(255, 0, 0, 0.804);
}
.limpar:hover {
	color: white;
	background-color: rgba(255, 0, 0, 0.804);
	fill: white;
}
.importar {
	color: var(--color_main);
	border: 2px solid var(--color_main);
	background-color: transparent;
	fill: var(--color_main);
	width: 30%;
	border-radius: 10px;
	text-align: center;
	padding: 1px;
}
.importar:hover {
	color: white;
	background-color: var(--color_main);
	fill: white;
}
.exportar {
	color: var(--color_main);
	border: 2px solid var(--color_main);
	background-color: transparent;
	fill: var(--color_main);
}
.exportar:hover {
	color: white;
	background-color: var(--color_main);
	fill: white;
}


.background_modal {
	display: none;
}
.limpa_contatos {
	display: none;
}
.show_limpa_contatos {
	display: flex;
	position: absolute;
	z-index: 2;
	background-color: white;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	box-shadow: 0 0 1em black;
	width: 35%;
	top: 0;
	margin-top: 10%;
	border-radius: 10px;
	animation: modal 1.3s ease forwards;
}
.show_background_modal {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 3;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(54, 51, 51, 0.1);
}

@keyframes modal {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1.0;
	}
}

.limpa_contatos hr {
	width: 100%;
	margin: 0;
}
.limpa_contatos p {
	font-size: 20px;
	margin: 20px 0;
}
.limpa_contatos button {
	border-radius: 10px;
	padding: 10px;
	font-size: 15px;
	margin: 0 5px;
	font-weight: bold;
}

.arquivo {
	position: absolute;
	z-index: -1;
	top: -500px;
	left: -500px;
	display: none;
}

@keyframes delete {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}