:root {
	--color_bk: white;
	--color_main: #00a884;
	--color_bk2: rgba(255, 255, 255, 0.9)
}

body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	border: none;
	font-family: "Segoe UI";
	background-image: url('img/fundo.gif');
}
.container {
	width: 70%;
	height: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
}

.send, .history {
	width: 49.5%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color_bk);
}

.send {
	/*border-radius: 25px 0 0 25px;*/
	justify-content: center;
}

.history {
	justify-content: flex-start;
	/*border-radius: 0 25px 25px 0;*/
	overflow: auto;
}

.contato {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	border-bottom: 1px rgba(160, 158, 158, 0.886) solid;
	padding: 5px;
}

#nomeh, #numeroh {
	margin: 0;
	padding: 0;
}
.contato:hover {
	background-color: rgba(32, 102, 164, 0.362);
	border: 1px solid rgba(32, 103, 164, 0.696);
}
.dados {
	width: 94%;
}
.lixo {
	width: 6%;
	margin: 5px;
}
.lixo:hover {
	transform: scale(1.2);
}

.titulo {
	font-size: 35px;
	font-weight: 400px;
	line-height: 26px;
	color: #232323
	style: normal;
}
.titulo2 {
	font-size: 30px;
}
.caixa {
	height: 45px;
	font-size: 30px;
	border-radius: 5px;
	border: 2px solid var(--color_main);
}
.phone {
	width: 81%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
#nome {
	width: 80%;
	margin: 10px 0;
}
#prefixo {
	width: 15%;
}
#ddd {
	width: 15%;
}
#numero {
	width: 60%;
}

.formulario {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#botao {
	font-weight: bold;
	height: 50px;
	font-size: 13px;
	margin-top: 30px;
	background-color: var(--color_main);
	border: none;
	color: var(--color_bk);
	padding: 10px 20px;
	border-radius: 5px;
}
#botao:hover {
	background-color: white;
	color: var(--color_main);
	border: solid 2px var(--color_main);
}
.icone {
	width: 50px;
	height: 50px;
}
.radio {
	border-color: red;
	background-color: red;
	color: red;
}